* {
  padding: 0px;
  margin: 0px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-size: cover;
  height: 100vh;
}

.left {
  background: url(/img/teddybear.jpg);
  height: 100vh;
}
.right {
  background-color: #1e1e1e;
}

#headertitle {
  background-color: #ff9fd2;
  padding: 10px;
  padding-bottom: 30px;
}


p {
  color: #ffff;
  height: 30%;
}
.c0 {
  color: #f1f1f9;
}
.c1 {
  color: green;
}

.circulo {
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ce230c;
}

.circulo.izquierdo {
  position: absolute;
  left: 50%;
  top: 50%;
}
.circulo.derecho {
  position: absolute;
  right: 50%;
  top: 50%;
}




.corazon {
  animation: latido 1s infinite;
  background-color: red;
  display: inline-block;
  height: 50px;
  margin: 0 10px;
  top: 0;
  transform: rotate(-45deg);
  position: relative; 
  left: 45%; 
  top: 45%;
  width: 50px;
}

.corazon:before,
.corazon:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
}

.corazon:before {
  top: -25px;
  left: 0;
}

.corazon:after {
  left: 25px;
  top: 0;
}

@keyframes latido {
  0%
  {
    transform: scale( 1 )
      rotate(-45deg);    
  }
  20%
  {
    transform: scale( 1.25 )
      rotate(-45deg);  
  }
   40%
  {
    transform: scale( 1.5 )
      rotate(-45deg);
  }
}




