* {
  padding: 0px;
  margin: 0px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-size: cover;
  height: 100vh;
}

.left {
  background: url(/img/teddybear.jpg);
  height: 100vh;
}
.right {
  background-color: #1e1e1e;
}

#headertitle {
  background-color: #ff9fd2;
  padding: 10px;
  padding-bottom: 30px;
}

/** boton **/
#formulario input {
	width: 210px;
	display: inline-block;
	text-align: center;
	border-radius: 7px;
	background: #eee;
	padding: 1em 2em;
	outline: none;
	border: none;
	color: #222;
	transition: 0.3s linear;
  background-color: #DBCAC9;
}
::placeholder{color: #999;}
#formulario input:focus {background: rgba(0, 0, 333, 0.10);}

#formulario button {
	background-image: linear-gradient(to left, rgba(255, 146, 202, 0.75) 0%, rgba(145, 149, 251, 0.86) 100%);
	box-shadow: 0 9px 25px -5px #df91fb;
	font-family: 'Abel', sans-serif;
	padding: 0.5em 1.9em;
	margin: 2.3em 0 0 0;
	border-radius: 7px;
	font-size: 1.4em;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 1em;
	outline: none;
	border: none;
	transition: 0.3s linear;

}
#formulario button:hover{transform: translatey(2px);}
#formulario button:active{transform: translatey(15px);}



